body{
    background-color: #051D3B;
    padding: 32px;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo";
}
header{
    grid-area: cabecalho;
    display: grid;
    grid-template-columns: auto 51.7% 40px 22.65%;
    grid-template-rows: 56px;
    margin-bottom: 40px;
}
.logoAlura{
    justify-self: start;
    align-self: center;
}
.campoBusca{
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 16px 14px;
    background-color: #2D415A;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    outline: none;
    grid-column: 2/2;
}
.autor{
    justify-self: end;
    grid-column: 4/4;
}

/*Main*/

/*nav*/
.principal{
    grid-area: conteudo;
    display: grid;
    grid-template-columns: auto 51.7% 40px 22.65%;
}
.principalComunidade{
    /*Comunidade*/
   grid-area: conteudo; 
   display: grid;
   grid-template-columns: auto 123px auto;
}
.menu{
    width: 189px;
}
.title{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: .4rem;
}
.menu-links{
    display: flex;
    flex-direction: column;
}
.menu-links li{
    margin-top: 16px;
}
.link-photo{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
.link-photo img{
    margin-right: 16px;
}

/*Editor*/
.editor{
    width: 100%;
    height: 366px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 32px;
    background: #6BD1FD;
}
.botoes{
    width: 100%;
    height: 52px;
    border-radius: 8px 8px 0 0;
    background: #141414;
    box-sizing: border-box;
    padding: 8px;
}
.botao{
    margin: 8px 0 0 8px;
}
.campoTexto{
    width: 100%;
    height: 250px;
    background: #141414;
    border: 0;
    resize: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    padding: 0 16px 16px 16px;
    color: #ffffff;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 24%);
}
.highlight-btn{
    grid-column: 2/2;
    grid-row: 1/1;
    margin-top: 32px;
    border-radius: 8px;
    border: 0;
    background: #0B254A;
    height: 56px;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/*Seu projeto*/
.teste{
    grid-column: 3/3;
    border: 1px solid red;
}
.seuProjeto{
    grid-column: 4/4;
    width: 272px;
    justify-self: end;
}
.seuProjeto form{
    display: flex;
    flex-direction: column;
}
.inputProjeto{
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    margin-top: 16px;
    background: #2D415A;
    padding: 16px 14px;
    font-size: 16px;
    outline: none;
    color: #ffffff;
}
.inputProjeto:nth-child(2){
    height: 56px;
}
.inputProjeto:nth-child(3){
    height: 80px;
    resize: none;
    padding: 16px 14px;
}

.selectProjeto{
    width: 100%;
    border-radius: 8px;
    border: 0;
    height: 56px;
    margin-top: 16px;
    outline: none;
    padding: 16px 14px;
    background: #2D415A;
    font-size: 16px;
    color: #ffffff;
}
#personalizacao{
    margin-top: 40px;
}
#cores{
    padding: 8px;
    height: 56px;
    border-radius: 8px;
    border: 0;
    margin-top: 16px;
    outline: none;
}

.inputProjeto-btn{
    height: 56px;
    margin-top: 32px;
    font-size: 16px;
    color: #051D3B;
    border-radius: 8px;
    border: 0;
    background: #5081FB;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

