body{
    background-color: #051D3B;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo";
    padding: 32px;
}
header{
    grid-area: cabecalho;
    display: grid;
    grid-template-columns: 189px 123px 51.7% 40px auto;
    grid-template-rows: 56px;
    margin-bottom: 40px;
}
.logoAlura{
    justify-self: start;
    align-self: center;
}
.campoBusca{
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 16px 14px;
    background-color: #2D415A;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    outline: none;
    grid-column: 3/3;
}
.autor{
    justify-self: end;
    grid-column: 5/5;
}

/*Main*/

/*nav*/
.principal{
    grid-area: conteudo;
    display: grid;
    grid-template-columns: 189px 123px 51.7% 40px auto;
}
.menu{
    width: 189px;
}
.title{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: .4rem;
}
.menu-links{
    display: flex;
    flex-direction: column;
}
.menu-links li{
    margin-top: 16px;
}
.link-photo{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
.link-photo img{
    margin-right: 16px;
}

/*Editor*/
.campo{
    grid-column: 3/3;
}
.editor{
    width: 100%;
    height: 366px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 32px;
    background: #6BD1FD;
}
.botoes{
    width: 100%;
    height: 52px;
    border-radius: 8px 8px 0 0;
    background: #141414;
    box-sizing: border-box;
    padding: 8px;
}
.botao{
    margin: 8px 0 0 8px;
}
.campoTexto{
    width: 100%;
    height: 250px;
    background: #141414;
    border: 0;
    resize: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    padding: 0 16px 16px 16px;
    color: #ffffff;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 24%);
}
.highlight-btn{
    grid-column: 2/2;
    grid-row: 1/1;
    margin-top: 32px;
    border-radius: 8px;
    border: 0;
    background: #0B254A;
    height: 56px;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/*Seu projeto*/
.seuProjeto{
    grid-column: 5/5;
    width: 272px;
    justify-self: end;
}
.seuProjeto form{
    display: flex;
    flex-direction: column;
}
.inputProjeto{
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    margin-top: 16px;
    background: #2D415A;
    padding: 16px 14px;
    font-size: 16px;
    outline: none;
    color: #ffffff;
}
.inputProjeto:nth-child(2){
    height: 56px;
}
.inputProjeto:nth-child(3){
    height: 80px;
    resize: none;
    padding: 16px 14px;
}

.selectProjeto{
    width: 100%;
    border-radius: 8px;
    border: 0;
    height: 56px;
    margin-top: 16px;
    outline: none;
    padding: 16px 14px;
    background: #2D415A;
    font-size: 16px;
    color: #ffffff;
}
#personalizacao{
    margin-top: 40px;
}
#cores{
    padding: 8px;
    height: 56px;
    border-radius: 8px;
    border: 0;
    margin-top: 16px;
    outline: none;
}

.inputProjeto-btn{
    height: 56px;
    margin-top: 32px;
    font-size: 16px;
    color: #051D3B;
    border-radius: 8px;
    border: 0;
    background: #5081FB;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

/*--Comunidade--*/
.principalComunidade{
    /*Comunidade*/
    grid-area: conteudo; 
    display: grid;
    grid-template-columns: 189px 123px auto;
}
.corpo{
    grid-column: 3/3;
    display: flex;
    flex-wrap: wrap;
}
.blocoCard{
    display: grid;
    grid-template-areas: 
        "codigo"
        "texto";
    grid-template-columns: 100%;
    grid-template-rows: 288px auto;
    box-sizing: border-box;
    width: 475px;
}
.blocoCard:nth-child(odd){
    margin: 0 24px 24px 0;
}
.blocoCard:nth-child(even){
    margin-bottom: 24px;
}
.blocoCard-Codigo{
    grid-area: codigo;
    grid-row: 1/1;
    box-sizing: border-box;
    padding: 24px;
    background: #8FEB6B;
    border-radius: 8px;
}
#laranja{
    background: red;
}
#orange{
    background: orange;
}
#blue{
    background: lightblue;
}
.blocoCard-janela{
    box-sizing: border-box;
    background: #141414;
    width: 100%;
    height: 33px;
    padding: 6px;
    border-radius: 8px 8px 0 0;
}
.janela-btn{
    margin: 6px 0 0 6px;
}
.blocoCard-editorcod{
    box-sizing: border-box;
    background: #141414;
    width: 100%;
    height: 207px;
    outline: 0;
    resize: none;
    color: white;
    padding: 0 12px 12px 12px;
    border-radius: 0 0 8px 8px;
    border: 0;
}
.blocoCard-Texto{
    grid-area: texto;
    grid-row: 2/2;
    box-sizing: border-box;
    padding: 24px;
    background: #041832;
    border-radius: 0 0 8px 8px;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "interacao";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.blocoCard-titulo{
    grid-area: cabecalho;
    grid-row: 1/1;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
.blocoCard-titulo h2{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
}
.blocoCard-titulo p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.blocoCard-icons{
    grid-area: interacao;
    grid-row: 2/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.blocoCard-iconsSocial{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.iconsSocial{
    width: 58px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blocoCard-iconsMedia{
    width: 105px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}